.search-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 24px;
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-bottom: 32px;
}

.search-box input {
  width: 520px;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 35px;
}

.search-box button {
  padding: 10px 18px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  margin-top: 35px;
  cursor: pointer;
}

/* Product list wrapper */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* ⭐ 3 items per row */
  gap: 24px;
  justify-content: center; /* centers grid */
}

/* Product card */
.product-card {
  width: 260px; /* ⭐ fixed card width */
  height: 350px;
  margin: 0 auto; /* ⭐ center each card */
  border: 1px solid #eacece;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  padding: 12px;
  text-align: center;
  justify-content: center;
  background-color: #e0e0e0;
}

/* Image */
.product-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  margin-bottom: 10px;
}
